body {
    text-align: center;
}

.btn {
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 2.5rem;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.red {
    background-color: #ff0000;
}

.yellow {
    background-color: #eeff00;  
}

.green {
    background-color: #20ff02;
}

.purple {
    background-color: #0048ff;
}

.flash {
    background-color: white;
}

.userFlash {
    background-color: rgb(96, 55, 55);
}